.panel {
  max-width: 75rem;
  height: 20rem;
  width: 90%;
  margin: 2rem auto;
  margin-top: 7rem;
  animation: panel-appear 1s ease-out forwards;
}

.repo_nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 0.25rem;
  border-radius: 10px 10px 0px 0px;
  background-color:  #ff5c4d9b;
}

.nav{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 2rem;
}

.selector{
  width: 15rem;
  height: 2.6rem;
  font: inherit;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.pag {
  color: #FFCD58;
  margin-right: 10px;
  cursor: pointer;
}

.selected_pag {
  color: #FF5C4D;
  margin-right: 10px;
}

.lista {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 28rem;
  overflow: auto;
}

table  {
  border-collapse: collapse;
}

th {
  padding: 0.8rem;
}

.loading {
  text-align: center;
  color: #FFCD58;
  height: 28rem;
}

.error {
  text-align: center;
  color: red;
  height: 28rem;
}

.ninguno {
  color: #FF5C4D;
  font-style: italic;
  text-align: center;
  height: 28rem;
}

@keyframes panel-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
